@model Becky.Web.Models.RestaurantModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h3>@Model.Name</h3>
    <p>
        @Model.AddressLine1<br />
        @Model.AddressLine2
    </p>
    <p><span class="glyphicon glyphicon-phone-alt"></span>: @Model.Phone</p>
    <p><span class="glyphicon glyphicon-globe"></span>: @Model.Website</p>
    <button id="test"></button>
    <div>
        <div class="row">
            <div class="col-xs-2">
                @using (Ajax.BeginForm("AsyncUpload", "Home", new { parameter = @Model.Id }, new AjaxOptions { HttpMethod = "POST" }, new { id = "photoUploadForm", enctype = "multipart/form-data" }))
                {
                    @*<span class="btn btn-info btn-file">
                            Add more photo(s) <input type="file" name="imageFile" id="imageFile" />
                        </span>*@
                    <div id="upload-file-container" class="img img-responsive img-rounded">
                        <input type="file" name="imageFile" id="imageFile" />
                    </div>
                }
            </div>
            <div class="col-xs-10">
                <ul id="autoWidth" class="cS-hidden" data-bind="foreach: restaurantPhotos">
                    <li>
                        <a data-bind="attr:{href: '../../FileStore/' + PhotoSource}">
                            <img data-bind="attr:{src: '../../FileStore/' + PhotoSource}" class="img img-rounded img-responsive fix-height" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <input id="input-id" type="number" class="rating" step="1" data-size="xs" />
    <p>
        <input id="txtRestaurantReviewTitle" class="form-control" placeholder="Review title" />
    </p>
    <p>
        <textarea id="txtRestaurantReview" class="form-control" rows="3" placeholder="Detailed review"></textarea>
    </p>
    <p>
        <button id="btnPost" class="btn btn-primary">Post Review</button>
        <button class="btn btn-default">Cancel</button>
    </p>
</div>
<div class="panel panel-default">
    <div class="panel panel-heading">
        <h3>Recent reviews</h3>
    </div>
    <div class="panel panel-body" data-bind="foreach: restaurantReviews">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <p><img data-bind="attr:{src: ProfilePictureUrl ? ProfilePictureUrl : '../../Images/Becky - No Image Icon.png' }" class="img img-responsive img-rounded fix-height-profile-picture" alt="" /></p>
                <p><span data-bind="text: ReviewerFullName"></span></p>
                <p><span data-bind="text: formatDate(ReviewedOn)"></span></p>
            </div>
            <div class="col-sm-15 col-md-10">
                <h4><span data-bind="text: ReviewTitle"></span></h4>
                <p><span data-bind="text: ReviewText"></span></p>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel panel-heading">
        <h3>Similar restaurants</h3>
    </div>
    <div class="panel panel-body">
        Similar restaurants
    </div>
</div>
@section scripts
{
    <style type="text/css">
        /*.btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }*/

        #upload-file-container {
            height: 100px;
            background: url(../../Images/addPhotoIcon.jpg) no-repeat;
            background-size: contain;
        }

            #upload-file-container input {
                filter: alpha(opacity=0);
                opacity: 0;
            }

        .fix-height {
            height: 100px;
            background-size: contain;
        }

        .fix-height-profile-picture {
            height: 50px;
            background-size: contain;
        }
    </style>
    <script type="text/javascript">
        var restaurantId = @Model.Id;
        var uriRestaurant = '/Home/GetRestaurant';
        var uriRestaurantReviews = '/Home/GetRestaurantReviews';
        var uriRestaurantPhotos = '/Home/GetRestaurantPhotos';
        var uriRelatedRestaurants = '/Home/GetRelatedRestaurants';
        var uriPostRestaurantReview = '/Home/PostRestaurantReview';
        var uriPostRestaurantRating = '';

        var viewModel = {
            restaurantRating: ko.observable(),

            restaurantReviews: ko.observableArray([]),
            restaurantPhotos: ko.observableArray([]),
            relatedRestaurants: ko.observableArray([])
        };

        function getRestaurantReviews() {
            $.postJSON(uriRestaurantReviews + '/' + restaurantId)
                .done(function(data) {
                    viewModel.restaurantReviews(data);
                });
        }

        function getRestaurantPhotos() {
            $.postJSON(uriRestaurantPhotos + '/' + restaurantId)
                .done(function(data) {
                    viewModel.restaurantPhotos(data);
                });
        }

        function getRelatedRestaurants() {
            $.postJSON(uriRelatedRestaurants + '/' + restaurantId)
                .done(function(data) {
                    viewModel.relatedRestaurants(data);
                });
        }

        function postRestaurantRating() {
            $.postJSON(uriPostRestaurantRating + '/' + restaurantId)
                .done(function() {
                    viewModel.relatedRestaurants(data);
                });
        }

        viewModel.restaurantRating.subscribe(function () {
            postRestaurantRating();
        });

        function formatDate(rawDate) {
            return moment(parseInt(rawDate.substr(6))).format("Do MMMM YYYY");
        }

        $('#btnPost').click(function() {
            var restaurantReview = {
                RestaurantBranchId: restaurantId,
                ReviewText: $('#txtRestaurantReview').val(),
                ReviewTitle: $('#txtRestaurantReviewTitle').val()
            };

            $.postJSON(uriPostRestaurantReview, restaurantReview)
                .done(function() {
                    getRestaurantReviews();
                });
        });

        $('#input-id').rating('refresh', {disabled: false, showClear: false, showCaption: false});
        $('#input-id').on('rating.change', function(event, value, caption) {
            restaurantRating(value);
        });

        $('#imageFile').on("change", function(){ $('#photoUploadForm').submit(); });

        (function() {
            $('#photoUploadForm').ajaxForm({
                beforeSend: function() {

                },
                uploadProgress: function() {

                },
                success: function() {
                    getRestaurantPhotos();
                },
                complete: function() {

                }
            });
        })();

        var lSlider = $('#autoWidth').lightSlider({
            autoWidth: true,
            //slideMove: 2,
            //auto: true,
            //loop: true,
            onSliderLoad: function() {
                $('#autoWidth').removeClass('cS-hidden');
            }
        }).lightGallery();

        $('#autoWidth').parent().on('mouseenter', function() {
            lSlider.pause();
        });
        $('#autoWidth').parent().on('mouseleave', function() {
            lSlider.play();
        });

        $('#test').click(function() {
            lSlider.refresh();
        });


        getRestaurantReviews();
        getRestaurantPhotos();

        ko.applyBindings(viewModel);
    </script>
}
